{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Jersey+10&family=Lato:wght@500&display=swap" rel="stylesheet">
    <link href="{% static 'card_styles.css' %}" rel="stylesheet">

    <title>Card Report - Crinkle</title>
</head>

<body>
    <div class="app-shell">
        <!-- Top bar -->
        <div class="top-bar">
            {% block top_bar %}{% endblock %}
        </div>

        <!-- Main content -->
        <div class="screen-body">
            {% block content %}{% endblock %}
        </div>
        
</body>
</html>
