{% extends "cards/base.html" %}
{% load static %}

{% block top_bar %}
<a class="back-btn" href="{% url 'profile' %}"> ‹ </a>
<span class="screen-title"> Scan Report </span>
{% endblock %}

{% block content %}
<h1> Grading Report </h1>

<img src="{% static 'invalid.jpg' %}" style="max-width:75vw; max-height:60vh; border-radius:12px;">

{% comment %} grade info {% endcomment %}
<div>
    <h3> User: {{ user }} </h3>
    <h3> Card Name: Invalid </h3>
    <h3> Grade: None</h3>
    <h3> Date: {% now "jS F Y" %} </h3>
</div>

<a class="btn-save" href="{% url 'cards:save_report' %}"> Save To Collection </a>
{% endblock %}