{% extends "cards/base.html" %}
{% load static %}

{% block top_bar %}
<a class="back-btn" href="{% url 'profile' %}"> ‹ </a>
<span class="screen-title"> My Collection </span>
{% endblock %}

{% block content %}
<form method="get" action="{% url 'cards:collection' %}">
    <select id='order' name="order" class="select-order">
        <option value="grading_notes"> Grade </option>
        <option value="name"> Name </option>
        <option value="date_scanned"> Date </option>
        <option value="-grading_notes"> Grade Descending </option>
        <option value="-name"> Name Descending </option>
        <option value="-date_scanned"> Date Descending </option>
    </select>
    <input type="submit" class="submit-btn" value="Sort Collection">
<form>

<div class="card-collection">
    {% for card in cards %}
    <div class="card-panel">
        <img src="{{card.picture_path}}" class="card-thumbnail">

        <div class="card-info">
            <p class="card-info card-title"> {{card.name}} </p>
            <p class="card-info card-date"> {{card.date_scanned}} </p>
            <a href="{% url 'cards:collection' %}{{card.id}}/" class="card-btn"> View/Edit Notes</a>
        </div>

        <div class="card-grade">
            {{card.grading_notes.grade}}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}   

